@page
@model PracticeSessionHashing.Pages.SessionState.SessionModel
@{
    ViewData["Title"] = "Read Session Data";
}

<h1>Read Session Data</h1>

<p>Your name: @Model.name</p>
<p>Your Age: @Model.age</p>